@import url('/assets/css/style.css');
@import url('/assets/css/mobile-nav.css');
@import url('/assets/css/ted-widget.css');

/* Global resets or additions if needed */
body {
  margin: 0;
  padding: 0;
}
